@media (max-width:600px) {
    * {
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    :root {
        --blue: #2c6ff2;
        --darkblue: #062259;
        --lightwheat: #faf7f3;
    }
    
    html {
        font-size: 62.5%;
    }
    
    body {
        font-family: "Plus Jakarta Sans", sans-serif;
    }
    
    .banner {
        background-color: white;
        height: 15vh;
        width: 100%;
        z-index: 1;
    }
    
    .bannerinner {
        display: flex;
        width: 90vw;
        height: 14vh;
        margin: auto;
        padding-top: 2.5vh;
        z-index: 2;
        position: sticky;
        justify-content: space-between;
    }
    
    .logobox {
        margin-left:1vw;
        margin-top: 1.6vh;
    }
    
    .logo {
        height: 4.8vh;
        color: black;
    }
    
    nav {
        width: 60%;
        justify-content: space-between;
        display: flex;
        display: none !important;
    }
    
    .navbox {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: right;
        width: 45vw;
        display: none !important;
    }
    
    .dropbtn {
        background-color: white;
        color: var(--darkblue);
        padding: 16px;
        font-size: 2.6vh;
        font-weight: 700;
        cursor: pointer;
        border: none;
    }
    
    .dropbtn:hover {
        background-color: white;
        color: var(--darkblue);
        padding: 16px;
        cursor: pointer;
        opacity: 0.7;
        text-decoration: 2px solid underline var(--blue);
        border: none;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        width: 20vw;
        height: auto;
        padding: 1.1rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 2rem;
    }
    
    .dropdown-content a {
        color: #122231;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        color: var(--blue);
    }
    
    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
    }
    
    .dropdown:hover .dropbtn {
        background-color: white;
    }
    
    a.Alink-nav:link, a.Alink-nav:visited {
        color: var(--darkblue);
        text-decoration: none;
        display: inline-block;
        font-size: 2.5vh;
        font-weight: 700;
    }
    
    a.Alink-nav:hover, a.Alink-nav:active {
        color: var(--blue);
    }
    
    .login-button {
        display: inline-block;
        height: 4vh;
        margin-top: 2.7vh;
    }
    
    a.Alink-login:link, a.Alink-login:visited {
        color: var(--darkblue);
        text-decoration: none;
        font-size: 2.6vh;
        font-weight: 700;
    }
    
    a.Alink-login:hover, a.Alink-login:active {
        opacity: 0.7;
        text-decoration: 2px solid underline var(--blue);
    }
    
    .contact-button {
        display: block;
        width: 11vw;
        margin-top: 0.8vh;
    }
    
    a.Alink-contact:link, a.Alink-contact:visited {
        background-color: var(--blue);
        color: white;
        padding: 1.2rem 1.8rem;
        text-decoration: none;
        display: inline-block;
        font-size: 2.6vh;
        font-weight: 700;
        border-radius: 0.75rem;
    }
    
    a.Alink-contact:hover, a.Alink-contact:active {
        background-color: #193d85;
        color:white;
    }
    
    .iconsbox {
        width: 5vw;
        height: 5vh;
        margin-top: 1.9vh;
    }

    .barsicon {
        display: inline;
    }
    
    .fa-solid {
        color: var(--darkblue);
        font-size: 4vh;
    }

    header {
        background-image: url("66794629ec9ffa00883eaa5b_Green-Purple\ -\ B.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        width: 100%;
        height: 140vh;
        background-position: center;
    }
    
    .headercontainer {
        display: flex;
        flex-direction: column;
    }
    
    .headertextbox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 88%;
        height: 77vh;
        margin-top: 13vh !important;
        margin: auto;
    }
    
    .headertexts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50vh;
    }
    
    .h1box {
        width: calc(100% - 4vw);
    }
    
    h1 {
        color:var(--darkblue);
        font-size: 7.5vh;
    }
    
    .phtbox {
        width: calc(100% - 10vw);
    }
    
    .pht {
        color: var(--darkblue);
        font-size: 2.8vh;
        font-weight: 500;
    }
    
    .header-buttons {
        display: flex;
        flex-direction: column;
        width: calc(100% - 0.5vw);
        height: 22vh;
        justify-content: space-between;
        margin: auto;
        margin-top: 10vh;
    }
    
    a.Alink-expert:link, a.Alink-expert:visited {
        background-color: var(--blue);
        color: white;
        width: 85vw;
        height: 8vh;
        padding: 1.2rem 1.8rem;
        text-decoration: none;
        display: inline-block;
        font-size: 2.6vh;
        font-weight: 700;
        border-radius: 0.75rem;
        text-align: center;
        margin: auto;
    }
    
    a.Alink-expert:hover, a.Alink-expert:active {
        background-color: #193d85;
        color:white;
    }
    
    a.Alink-build:link, a.Alink-build:visited {
        background-color: white;
        color: var(--darkblue);
        width: 85vw;
        height: 8vh;
        padding: 1.2rem 1.8rem;
        text-decoration: none;
        display: inline-block;
        font-size: 2.7vh;
        font-weight: 700;
        border: 1px solid var(--darkblue);
        border-radius: 0.75rem;
        text-align: center;
        margin: auto;
    }
    
    a.Alink-build:hover, a.Alink-build:active {
        background-color: white;
        color:var(--blue);
        border: 1px solid var(--blue);
    }
    
    .headerimagebox {
        position: relative;
    }
    
    .image1hib {
        position: absolute;
        z-index: 1;
        top: 10vh;
        left: 6vw;
    }
    
    .img1hib {
        width: 41vw;
        border-radius: 2rem;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.82);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    
    .image2hib {
        position: absolute;
        z-index: 0;
        border-radius: 2rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        top: 12vh;
        left: 50vw;
    }
    
    .img2hib {
        width: 42vw;
    }

    .section1 {
        background-color: var(--lightwheat);
        height: 115vh;
    }
    
    .containers1 {
        margin: auto;
        width: 95%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding-top: 10vh;
    }
    
    .headings1 {
        margin: auto !important;
    }
    
    .hhs1 {
        font-size: 6.6vh;
        color: var(--darkblue);
        text-align: center;
    }
    
    .statbox {
        display: flex;
        justify-content: space-between;
        width: 92.5vw;
        height: 60vh;
        flex-wrap: wrap;
    }
    
    .stat1, .stat2, .stat3, .stat4 {
        width: 40vw !important;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: auto;
    }
    
    .figure {
        font-size: 10vh;
        color: var(--darkblue);
        text-align: center;
    }
    
    .label {
        font-size: 2.7vh;
        color: black;
        text-align: center;
    }

    .subcontainers1 {
        background-color: var(--lightwheat);
        border-top: 1px solid #b3b3b3;
        border-bottom: 1px solid #b3b3b3;
        width: 100%;
        height: 20vh;
        margin-top: 10vh;
        visibility: visible; /* figure out how to hide until this div is scrolled */
    }
    
    .buttonboxscs1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 96vw;
        height: 16vh;
        margin: auto;
        margin-top: 2vh;
    }
    
    .buttonscs1 {
        border: none;
        background-color: var(--lightwheat);
    }
    
    a.Alink-send-payments:link, a.Alink-send-payments:visited {
        background-color: var(--lightwheat);
        color: var(--darkblue);
        width: 45vw;
        height: 6vh;
        padding: 0.88rem 1.8rem;
        text-decoration: none;
        display: inline-block;
        font-size: 2.4vh;
        font-weight: 700;
        border: 0.5px solid var(--darkblue);
        border-radius: 0.75rem;
        text-align: left;
    }
    
    a.Alink-send-payments:active {
        background-color: var(--blue);
        color:white;
    }
    
    a.Alink-send-payments:hover {
        color:var(--blue);
        border: 0.5px solid var(--blue);
    }
    
    a.Alink-accept-payments:link, a.Alink-accept-payments:visited {
        background-color: var(--lightwheat);
        color: var(--darkblue);
        width: 45vw;
        height: 6vh;
        padding: 0.88rem 1.8rem;
        text-decoration: none;
        display: inline-block;
        font-size: 2.4vh;
        font-weight: 700;
        border: 0.5px solid var(--darkblue);
        border-radius: 0.75rem;
        text-align: left;
    }
    
    a.Alink-accept-payments:active {
        background-color: var(--blue);
        color:white;
    }
    
    a.Alink-accept-payments:hover {
        color:var(--blue);
        border: 0.5px solid var(--blue);
    }
    
    a.Alink-store-and-convert:link, a.Alink-store-and-convert:visited {
        background-color: var(--lightwheat);
        color: var(--darkblue);
        width: 45vw;
        height: 6vh;
        padding: 0.88rem 1.8rem;
        text-decoration: none;
        display: inline-block;
        font-size: 2.4vh;
        font-weight: 700;
        border: 0.5px solid var(--darkblue);
        border-radius: 0.75rem;
        text-align: left;
    }
    
    a.Alink-store-and-convert:active {
        background-color: var(--blue);
        color:white;
    }
    
    a.Alink-store-and-convert:hover {
        color:var(--blue);
        border: 0.5px solid var(--blue);
    }
    
    a.Alink-launch-stablecoins:link, a.Alink-launch-stablecoins:visited {
        background-color: var(--lightwheat);
        color: var(--darkblue);
        width: 45vw;
        height: 6vh;
        padding: 0.88rem 1.8rem;
        text-decoration: none;
        display: inline-block;
        font-size: 2.4vh;
        font-weight: 700;
        border: 0.5px solid var(--darkblue);
        border-radius: 0.75rem;
        text-align: left;
    }
    
    a.Alink-launch-stablecoins:active {
        background-color: var(--blue);
        color:white;
    }
    
    a.Alink-launch-stablecoins:hover {
        color:var(--blue);
        border: 0.5px solid var(--blue);
    }

    #send-payments {
        background-color: white;
        width: 100%;
        height: 240vh;
    }
    
    .containersp {
        width: calc(100% - 10vw);
        height: 90vh;
        margin: auto;
        margin-top: 30vh;
    }
    
    .textbox-csp {
        width: 80vw;
        height: 88.8vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .headingboxcsp {
        width: 80vw;
        height: 20vh;
    }
    
    .hhbcsp {
        font-size: 6.8vh;
        color: var(--darkblue);
    }
    
    .phbcsp {
        font-size: 2.78vh;
        color: var(--darkblue);
        font-weight: 500;
        line-height: 4vh;
    }
    
    .listboxcsp {
        width: 80vw;
        height: 55vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 77vh !important;
        margin: auto;
    }
    
    .lbcsp1, .lbcsp2, .lbcsp3 {
        width: 77vw;
        height: 18vh;
        display: flex;
    }
    
    .iconlistbox {
        margin-right: 2vh;
    }
    
    .textlistbox {
        display: flex;
        flex-direction: column;
    }
    
    .htlb {
        font-size: 2.5vh;
        color: var(--darkblue);
        padding-top: 0.55vh;
    }
    
    .ptlb {
        font-size: 2.4vh;
        color: var(--darkblue);
        font-weight: 500;
        line-height: 3.5vh;
    }

    .imagebox-csp {
        display: inline;
    }
    
    .sendpaymentsimage {
        width: 70vw;
        height: 34vh;
        margin-top: 45vh;
        margin-left: -72vw;
    }

    .scrollbox-csp {
        width: 42vw;
        height: auto;
        margin-top: 5vh;
    }
    
    .sbnavbox-sp {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        border: 1px solid #b3b3b3;
        border-radius: 10px;
        width: 42vw;
        height: 34vh;
        padding: 0.7rem;
    }
    
    a.Alink-scroll:link, a.Alink-scroll:visited {
        color: var(--blue); /* inactive link is rgba(0, 0, 0, 0.409) with no border */
        width: 40vw;
        height: 7vh;
        padding: 1rem 1.8rem;
        text-decoration: none;
        display: inline-block;
        font-size: 2.5vh;
        font-weight: 700;
        text-align: left;
        border: 1px solid var(--blue);
        border-radius: 10px;
    }
    
    a.Alink-scroll:active {
        color:var(--blue) !important;
        border: 1px solid var(--blue) !important;
    }
    
    a.Alink-scroll:hover {
        color:var(--blue);
    }
    
    .sbnavboxcontent {
        display: inline;
    }
    
    .digicurrimg {
        width: 84vw;
    }

    .infobox-csp {
        display: flex;
        width: 86vw;
        border: 1px solid #b3b3b3;
        border-radius: 10px;
        margin-top: 20vh;
    }
    
    .imagebox-ibcsp {
        margin: auto;
        margin-left: -0.1vw;
        padding: 2.6rem;
        border-right: 1px solid #b3b3b3;
    }
    
    .imgibcsp {
        width: 19vw;
    }
    
    .textbox-ibcsp {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 57vw;
        height: 23vh;
        padding: 2rem;
        margin: auto;
    }
    
    .ptbibcsp {
        color: var(--darkblue);
        font-size: 2.6vh;
        font-weight: 700;
        line-height: 3.6vh;
        letter-spacing: 0.5px;
    }
    
    a.Alink-casestudy:link, a.Alink-casestudy:visited {
        color: var(--blue);
        text-decoration: none;
        font-size: 2.4vh;
        font-weight: 700;
    }
    
    a.Alink-casestudy:hover, a.Alink-casestudy:active {
        color: var(--blue);
    }

    /* accept payments here */

    #accept-payments {
        background-color: white;
        width: 100%;
        height: 240vh;
    }
    
    .containerap {
        width: calc(100% - 10vw);
        height: 90vh;
        margin: auto;
        margin-top: 30vh;
    }
    
    .textbox-cap {
        width: 80vw;
        height: 88.8vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .headingboxcap {
        width: 80vw;
        height: 20vh;
    }
    
    .hhbcap {
        font-size: 6.8vh;
        color: var(--darkblue);
    }
    
    .phbcap {
        font-size: 2.78vh;
        color: var(--darkblue);
        font-weight: 500;
        line-height: 4vh;
    }
    
    .listboxcap {
        width: 80vw;
        height: 78vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 70vh !important;
        margin: auto;
    }
    
    .lbcap1, .lbcap2, .lbcap3 {
        width: 77vw;
        height: 27vh;
        display: flex;
    }
    
    .iconlistbox {
        margin-right: 2vh;
    }
    
    .textlistbox {
        display: flex;
        flex-direction: column;
    }
    
    .htlb {
        font-size: 2.5vh;
        color: var(--darkblue);
        padding-top: 0.55vh;
    }
    
    .ptlb {
        font-size: 2.4vh;
        color: var(--darkblue);
        font-weight: 500;
        line-height: 3.5vh;
    }

    .imagebox-cap {
        display: inline;
    }
    
    .acceptpaymentsimage {
        width: 70vw;
        height: 34vh;
        margin-top: 45vh;
        margin-left: -72vw;
    }

    .scrollbox-cap {
        width: 42vw;
        height: auto;
        margin-top: 5vh;
    }
    
    .sbnavbox-ap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        border: 1px solid #b3b3b3;
        border-radius: 10px;
        width: 42vw;
        height: 18vh;
        padding: 0.7rem;
    }
    
    a.Alink-scroll:link, a.Alink-scroll:visited {
        color: var(--blue); /* inactive link is rgba(0, 0, 0, 0.409) with no border */
        width: 40vw;
        height: 7vh;
        padding: 1rem 1.8rem;
        text-decoration: none;
        display: inline-block;
        font-size: 2.5vh;
        font-weight: 700;
        text-align: left;
        border: 1px solid var(--blue);
        border-radius: 10px;
    }
    
    a.Alink-scroll:active {
        color:var(--blue) !important;
        border: 1px solid var(--blue) !important;
    }
    
    a.Alink-scroll:hover {
        color:var(--blue);
    }
    
    .sbnavboxcontent {
        display: inline;
    }
    
    .digicurrimg {
        width: 84vw;
    }

    .infobox-cap {
        display: flex;
        width: 86vw;
        border: 1px solid #b3b3b3;
        border-radius: 10px;
        margin-top: 20vh;
    }
    
    .imagebox-ibcap {
        margin: auto;
        margin-left: -0.1vw;
        padding: 2.6rem;
        border-right: 1px solid #b3b3b3;
    }
    
    .imgibcap {
        width: 19vw;
    }
    
    .textbox-ibcap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 57vw;
        height: 23vh;
        padding: 2rem;
        margin: auto;
    }
    
    .ptbibcap {
        color: var(--darkblue);
        font-size: 2.6vh;
        font-weight: 700;
        line-height: 3.6vh;
        letter-spacing: 0.5px;
    }
    
    a.Alink-casestudy:link, a.Alink-casestudy:visited {
        color: var(--blue);
        text-decoration: none;
        font-size: 2.4vh;
        font-weight: 700;
    }
    
    a.Alink-casestudy:hover, a.Alink-casestudy:active {
        color: var(--blue);
    }

    /* store and convert here */

    #storeconvert {
        background-color: white;
        width: 100%;
        height: 240vh;
    }
    
    .containersc {
        width: calc(100% - 10vw);
        height: 90vh;
        margin: auto;
        margin-top: 30vh;
    }
    
    .textbox-csc {
        width: 80vw;
        height: 88.8vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .headingboxcsc {
        width: 80vw;
        height: 20vh;
    }
    
    .hhbcsc {
        font-size: 6.8vh;
        color: var(--darkblue);
    }
    
    .phbcsc {
        font-size: 2.78vh;
        color: var(--darkblue);
        font-weight: 500;
        line-height: 4vh;
    }
    
    .listboxcsc {
        width: 80vw;
        height: 78vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 70vh !important;
        margin: auto;
    }
    
    .lbcsc1, .lbcsc2, .lbcsc3 {
        width: 77vw;
        height: 27vh;
        display: flex;
    }
    
    .iconlistbox {
        margin-right: 2vh;
    }
    
    .textlistbox {
        display: flex;
        flex-direction: column;
    }
    
    .htlb {
        font-size: 2.5vh;
        color: var(--darkblue);
        padding-top: 0.55vh;
    }
    
    .ptlb {
        font-size: 2.4vh;
        color: var(--darkblue);
        font-weight: 500;
        line-height: 3.5vh;
    }

    .imagebox-csc {
        display: inline;
    }
    
    .storeconvertimage {
        width: 90vw;
        height: 39vh;
        margin-top: 40vh;
        margin-left: -82vw;
    }

    .scrollbox-csc {
        width: 42vw;
        height: auto;
        margin-top: 5vh;
    }
    
    .sbnavbox-sc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        border: 1px solid #b3b3b3;
        border-radius: 10px;
        width: 42vw;
        height: 18vh;
        padding: 0.7rem;
    }
    
    a.Alink-scroll:link, a.Alink-scroll:visited {
        color: var(--blue); /* inactive link is rgba(0, 0, 0, 0.409) with no border */
        width: 40vw;
        height: 7vh;
        padding: 1rem 1.8rem;
        text-decoration: none;
        display: inline-block;
        font-size: 2.5vh;
        font-weight: 700;
        text-align: left;
        border: 1px solid var(--blue);
        border-radius: 10px;
    }
    
    a.Alink-scroll:active {
        color:var(--blue) !important;
        border: 1px solid var(--blue) !important;
    }
    
    a.Alink-scroll:hover {
        color:var(--blue);
    }
    
    .sbnavboxcontent {
        display: inline;
    }
    
    .digicurrimg {
        width: 84vw;
    }

    .infobox-csc {
        display: flex;
        width: 86vw;
        border: 1px solid #b3b3b3;
        border-radius: 10px;
        margin-top: 20vh;
    }
    
    .imagebox-ibcsc {
        margin: auto;
        margin-left: -0.1vw;
        padding: 2.6rem;
        border-right: 1px solid #b3b3b3;
    }
    
    .imgibcsc {
        width: 20vw;
    }
    
    .textbox-ibcsc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 57vw;
        height: 23vh;
        padding: 2rem;
        margin: auto;
    }
    
    .ptbibcsc {
        color: var(--darkblue);
        font-size: 2.6vh;
        font-weight: 700;
        line-height: 3.6vh;
        letter-spacing: 0.5px;
    }
    
    a.Alink-casestudy:link, a.Alink-casestudy:visited {
        color: var(--blue);
        text-decoration: none;
        font-size: 2.4vh;
        font-weight: 700;
    }
    
    a.Alink-casestudy:hover, a.Alink-casestudy:active {
        color: var(--blue);
    }

    /* stablecoin wallets here */

    #stablecoinwallets {
        background-color: white;
        width: 100%;
        height: 210vh;
    }
    
    .containerscw {
        width: calc(100% - 10vw);
        height: 90vh;
        margin: auto;
        margin-top: 30vh;
    }
    
    .textbox-cscw {
        width: 80vw;
        height: 88.8vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .headingboxcscw {
        width: 80vw;
        height: 20vh;
    }
    
    .hhbcscw {
        font-size: 6.8vh;
        color: var(--darkblue);
    }
    
    .phbcscw {
        font-size: 2.78vh;
        color: var(--darkblue);
        font-weight: 500;
        line-height: 4vh;
    }
    
    .listboxcscw {
        width: 80vw;
        height: 78vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 88vh !important;
        margin: auto;
    }
    
    .lbcscw1, .lbcscw2, .lbcscw3 {
        width: 77vw;
        height: 27vh;
        display: flex;
    }
    
    .iconlistbox {
        margin-right: 2vh;
    }
    
    .textlistbox {
        display: flex;
        flex-direction: column;
    }
    
    .htlb {
        font-size: 2.5vh;
        color: var(--darkblue);
        padding-top: 0.55vh;
    }
    
    .ptlb {
        font-size: 2.4vh;
        color: var(--darkblue);
        font-weight: 500;
        line-height: 3.5vh;
    }

    .imagebox-cscw {
        display: inline;
    }
    
    .stablecoinwalletimage {
        width: 65vw;
        height: 52vh;
        margin-top: 42vh;
        margin-left: -72vw;
    }

    .infobox-cscw {
        display: flex;
        width: 86vw;
        border: 1px solid #b3b3b3;
        border-radius: 10px;
        margin-top: 10vh;
    }
    
    .imagebox-ibcscw {
        margin: auto;
        margin-left: -0.1vw;
        padding: 2.6rem;
        border-right: 1px solid #b3b3b3;
    }
    
    .imgibcscw {
        width: 20vw;
    }
    
    .textbox-ibcscw {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 56vw;
        height: 23vh;
        padding: 2rem;
        margin: auto;
    }
    
    .ptbibcscw {
        color: var(--darkblue);
        font-size: 2.6vh;
        font-weight: 700;
        line-height: 3.6vh;
        letter-spacing: 0.5px;
    }
    
    a.Alink-casestudy:link, a.Alink-casestudy:visited {
        color: var(--blue);
        text-decoration: none;
        font-size: 2.4vh;
        font-weight: 700;
    }
    
    a.Alink-casestudy:hover, a.Alink-casestudy:active {
        color: var(--blue);
    }

    /* faqs */

    .faqs {
        background-color: white;
        width: 100%;
        height: 100vh;
    }

    .faqheading {
        width: 90vw;
    }

    .hfaqh {
        font-size: 6.66vh;
        color: var(--darkblue);
        text-align: left;
    }

    .containerfaqs {
        display: flex;
        flex-direction: column;
        width: calc(100% - 2vw);
        margin: auto;
        margin-top: 5vh;
    }

    .faq1, .faq2, .faq3, .faq4 {
        background-color: white;  
        border-bottom: 1px solid #b3b3b3;
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        margin: auto;
        width: 80vw;
    }

    .pfaq {
        color: var(--darkblue);
        font-size: 3.5vh;
        font-weight: 500;
        display: block;
    }

    .fa-plus {
        color: var(--blue);
        text-align: right;
        font-size: 5vh;
        font-weight: 100;
        display: block;
    }

    .getstarted {
        background-image: url('66793f4a5f6c20d245be68a9_Blue-Green-B.webp');
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: 80vh;
        padding-top: 16vh;
    }
    
    .getstartedbox {
        display: flex;
        flex-direction: column;
        width: 88vw;
        margin: auto;
        justify-content: space-between;
    }
    
    .textbox-gsb {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 80vw;
        height: 23vh;
    }
    
    .ptb-gsb {
        color: var(--darkblue);
        font-size: 2.5vh;
        font-weight: 800;
        letter-spacing: 0.3vh;
    }
    
    .htb-gsb {
        font-size: 6.7vh;
        color: var(--darkblue);
    }

    .inputbox-gsb {
        margin-top: 7vh;
    }
    
    .fa-user {
        color: var(--darkblue);
        font-size: 4vh;
        z-index: 3;
        display: inline;
    }
    
    #speaktoexpert {
        background-color: rgba(240, 243, 243, 0.393);
        border-radius: 1.8rem;
        font-size: 4vh;
        color: var(--darkblue) !important;
        border: none;
        width: 90vw;
        height: 15vh;
        box-shadow: 2px 7px 30px 2px var(--darkblue);
        padding-left: 9vh;
        z-index: 2;
        display: inline;
        margin-left: -0.5vw;
    }
    
    #speaktoexpert:hover {
        background-color: var(--blue);
        border-radius: 1.8rem;
        font-size: 4vh;
        color: white !important;
        border: none;
        width: 90vw;
        height: 15vh;
        box-shadow: 2px 7px 30px 2px var(--blue);
        z-index: 2;
        display: inline;
    }
    
    .buttonbox-ibgsb {
        position: absolute;
        display: inline-block;
        margin-left: 77vw;
        margin-top: -12vh;
    }
    
    .buttonbox-ibgsb:hover {
        position: absolute;
        display: inline-block;
    }
    
    a.Alink-expert:link, a.Alink-expert:visited {
        background-color: rgba(255, 255, 255, 0.34);
        width: 9vw;
        height: 9vh;
        border-radius: 1rem;
        padding-left: 2vw;
        padding-top: 2.6vh;
    }
    
    a.Alink-expert:hover, a.Alink-expert:active {
        background-color: rgba(255, 255, 255, 0.605);
        width: 9vw;
        height: 9vh;
        border-radius: 1rem;
    }
    
    .toexpertarrow {
        color: var(--darkblue);
        font-size: 15vh;
        z-index: 2;
    }
    
    .toexpertarrow:hover {
        color: white;
        font-size: 15vh;
    }

    /* Footer */
    .footer-cont .top .content {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-right: 0;
        gap: 4rem;
    }

    .footer-cont .middle .subscribe form {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}
